@import url(https://fonts.googleapis.com/css?family=MonteCarlo:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:regular,italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url(https://fonts.googleapis.com/css?family=Eczar:regular,500,600,700,800);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik&display=swap");






    

.topbar{
    
    height: auto;
    width: 100vw;
    display: flex;
    
}

.bespoke{
    height: 40px;
    width: 30%;
    padding: 0;
    margin:5px 30px;
    position: relative;

}
    .bspk{
    font-size: 30px;
    font-weight: 400;
    color:rgb(227, 222, 253);
}
.navbar{
    position: relative;
    width: 60%;
    margin-left: auto;
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    color:rgb(227, 222, 253);
    


}

.nav-item{
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    list-style-type: none;
    padding:5px 30px;
    cursor: pointer;

}

.nav-item:hover{
    background-color:rgb(190, 224, 255);
    color: rgb(13, 8, 41);
    transition: ease-in-out 200ms;
}

.info-apps{
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.mobile{
    font-size: 50px;
    font-family: MonteCarlo;
    color:whitesmoke;
    font-weight:bold;
}

.info-txt{
    font-size: 20px;
    font-family: Mukta;
    color: rgb(197, 190, 236);
    font-weight: lighter;

}



@keyframes new{
    0%{
        transform: translate(0, 0);
    }

    50%{
        transform: translate(-400px );
    }
    100%{
        transform: translate(0, 0);
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container-mobile {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
  }
  
  .block {
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 15px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  
  .block:nth-child(1) {
    background-image: url(../Image/android.jpg);
  }
  
  .block:nth-child(2) {
    background-image: url(../Image/apple.jpg);
  }
  
  .block:nth-child(3) {
    background-image: url(../Image/Hybrid.jpg);
  }
  
  .overlay {
    z-index: 5;
    width: 80%;
    height: 100%;
    background-color: rgba(139, 135, 135, 0.5);
    transform: rotate(45deg) scaleY(2) scaleX(0);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-left: #fdca40 2px solid;
    border-right: #fdca40 2px solid;
  }
  
  .block:hover .overlay {
    transform: rotate(45deg) scaleY(2) scaleX(1);
  }
  
  .block--text {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: antiquewhite;
    transform-origin: bottom center;
    transition: all 300ms ease-in;
    z-index: 100;
    opacity: 0;
    transition: all 300ms 200ms ease-in;
  }
  
  .block:hover .block--text {
    opacity: 1;
  }
  
  .text--head {
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fdca40;
  }
  
  .text--quote {
    font-size: 14px;
    line-height: 150%;
    color:#0a0120;
  }
  
  .text--person {
    padding-top: 15px;
    position: relative;
    text-align: end;
    color: #fdca40;
  }
  

.web-apps{
    width: 100%;
    text-align: center;
    display: flex;
    
    flex-direction: column;
}
.apps-head{
    position: relative;
    width: 50%;
    margin: 40px auto 0;

    height: auto;
    text-align: center;
}

.web-apps-head{
    color: aliceblue;

}

.web-apps-desc{
    width: 50%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    font-family: Mukta;
    color: rgb(197, 190, 236);
    font-weight: lighter;
}

.web-apps-container{
    width: 90%;
    margin: auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.apps-text-box{
    width: 400px;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-family: Mukta;
    color: rgb(197, 190, 236);
    font-weight: 300;
    padding: 40px 0;

}
.apps-text-box{
    margin-top: 60px;
}
.apps-image-box{
    width: 500px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.imgbx{
    object-fit: contain;
}

.range-desc-txt{
    width: 40%;
    height: auto;
    margin: 0 auto 30px;
    font-size: 20px;
    color:rgb(190, 224, 255);
    font-weight: 300;
}


.range{
    top: 50px;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
}


.price-card{
    width: 400px;
    height: 500px;
    margin: 60px 100px;
    border: #060425 2px double;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.basic{
    font-size: 45px;
    color: floralwhite;
}

.level{
    width: 100%;
    background-color: #060425;
    height: 100px;
    text-align: center;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;

}

.price-range{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;

}
.range-txt{
    font-size: 50px;
    color: rgb(70, 75, 139);
}












.list-items{
    list-style-type: circle;
}

section{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

section .footer{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
}


section .footer .contactinfo{
    position: absolute;
    top: 40px;
    width: 300px;
    left: 0px;
    height: calc(100% - 180px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2)
}


section .footer .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight:500;

}

section .footer .contactinfo .info-cont{
    position: relative;
    margin: 20px 0; 
}


section .footer .contactinfo .info-cont li{
    position:  relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}



section .footer .contactinfo .info-cont li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}



section .footer .contactinfo .info-cont li span:nth-child(1) .fas{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .footer .contactinfo .info-cont li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
    
}

section .footer .contactinfo .info-cont li:hover span:nth-child(1) .fas,
section .footer .contactinfo .info-cont li:hover span:nth-child(2)
{
    opacity: 1;
}


section .footer .contactinfo .sci{
    position: relative;
    display: flex;
}

section .footer .contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
}

section .footer .contactinfo .sci li a{
    text-decoration:none;
}

section .footer .contactinfo .sci li a .fab{
    filter: invert(1);
    opacity: 0.5;
}

section .footer .contactinfo .sci li:hover a .fab{
    opacity: 1;
}

section .footer .contactform{
    position: absolute;
    padding: 70px 50px;
    background: rgb(235, 241, 253);
    margin-left: 150px;
    padding-left: 230px;
    width: 70%;
    min-height: 500px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 50px 50px;
}

section .footer .contactform h2{
    color: #0f3959;
    font-size: 24px;
    font-weight:500;
}

section .footer .contactform .formbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}


section .footer .contactform .formbox .inputbox{
    position: relative;
    margin: 10px 0 35px 0;
}

section .footer .contactform .formbox .w50{
    width: 230px;
}
section .footer .contactform .formbox .w100{
    width: 500px;
}

section .footer .contactform .formbox .inputbox input, textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size :18px;
    font-weight: 300;
    color: #333;
    background-color: rgb(235, 241, 253);
    border: none;
    border-bottom: 1px solid #777;
    outline: none;

}

textarea{
    min-height: 70px;
}


section .footer .contactform .formbox .inputbox span{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300px;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}


section .footer .contactform .formbox .inputbox input:focus ~ span, textarea:focus ~ span,
section .footer .contactform .formbox .inputbox input:valid ~ span, textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color:rgb(206, 120, 98);
}

section .footer .contactform .formbox .inputbox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color:#fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .footer .contactform .formbox .inputbox input[type="submit"]:hover{
    background-color: #03a9f4;
   
}

@media only screen and (max-width: 600px)  {
    .navbar{
        display: none;
    }
    
    
}




